*{
    margin: 0;
    padding: 0;
    box-sizing :border-box;
}


a{
    text-decoration: none;
    color :whitesmoke
}

/* ID */
#active{
  font-weight: bold;
  color:#fc036b;
  text-decoration: underline;
   cursor:pointer;
  font-size: 23px;
}

 li{
    font-size: 20px;
    color: whitesmoke;
}
/* General Sibling Selector (~)*/
 h1 ~ ul{
    list-style: none;
}

/* class */
.nav-link{
    display: flex;
    align-items: center;
}

.nav-link li{
    margin: 0 30px;
}

.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

header{
    width: 100vw;
    height: 100vh;
  
background-image:url(image/m.jpeg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
/* Adjacent Sibling Selector (+)*/
.header-content + h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    background: #fc036b;
    height: 4px;
    margin: 10px auto;
    border-radius: 5px;
}

h1{
    font-size: 7vmin;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background-color:#fc036b;
    color: whitesmoke;
    border-radius: 30px;
    cursor:pointer;
}

.menu-btn{
    position: absolute;
    top: 53px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

section{
    width:80%;
    margin:80px auto;
}

.title{
    text-align:center;
    font-size:4vmin;
}
.row{
    display:flex;
    align-items:center;
    width : 100%;
    justify-content:space-between;
}

/* Descendant Selector (space)*/
.row .col{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.im{
    width : 75%;
    border-radius: 10px;
}

body, html{
    overflow-x : hidden;
}
.events .row{
    margin-top: 50px;
}
h4{
    margin : 20px auto;
    color : #484872;
    font-size: 3vmin;

}
/* child selector (>) */
.col > p{
    color:#484872;
 padding: 0px 40px;
}
.events .ctn{
    margin-top:30px;
}
.explore{
    width :100%;
    height :100vh;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('image/2.jpg');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    
}
.explore-content{
    width :60%;
    padding:50px;
    display :flex;
    color :whitesmoke;
    align-items:center;
    flex-direction:column;
}
.explore-content h1{
    font-size :7vmin;
}
.explore-content p{
    color : rgb(221,221,221);

}
.explore-content .line{
    margin-bottom:50px;
}
.explore-content .ctn{
    margin-top:40px;
}

.content-col{
    width : 45%;
}

.image-col{
    width: 55%;
}

.tours .image-galllery{
    display: flex;

    width: 100%;
  align-items: center;
}


.image-gallery img{
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
    margin: 7px;
    border-radius: 10px;
}

.content-col .line{
    margin-left:  -1px; 
}

.content-col h1{
  color: #484872;
  font-size: 6vmin;    
}

.content-col p{
    padding: 0;
    margin: 30px auto;
}

.content-col .ctn{
    margin-left: -6px;
}

.content-col{
    text-align: justify;
}

.col{
    text-align: justify;
}


.explore{
    text-align: justify;
}

.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    text-align: center;
    background: #484872;
}

.footer p{
    margin: 20px auto;
    padding: 20px auto;
    color: whitesmoke;
}
@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;

    }
    .nav-link{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(82, 82, 146);
        margin-top: -900;
        transition: all 0.6s ease;

    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 45px;
    }
    .nav-link li{
        margin: 20px auto;
    }

    .row{
        flex-direction: column;
    }

    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }
    .explore-content{
        width: 100%;
        text-align: justify;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .content-col{
        text-align: justify;
    }

    .col{
        text-align: justify;
    }

     .image-gallery img{
      max-width: 100%;
     
    }
    .footer{
        padding: 10px;
        
    }
}
img{
    transition: transform 0.3s ease;
}

a:hover{
    
    color :#fc036b;
   

}
img:hover{
    transform: scale(1.1);
}

.ctn:hover{
    background: whitesmoke;
    color:#fc036b;
    box-shadow: 2px 2px 5px black;
}

li:hover{
    color: #fc036b;
    cursor: pointer;
}
